@charset "UTF-8";

/* 共通部分 */

html {
  font-size: 100%;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%
}

/* HEADER */
.logo {
  width: 300px;
  margin-top: 25px;
}


header {
    background:#fff;

    filter:alpha(opacity=50);
    /* 半透明にする*/
    -moz-opacity: 0.9;
    opacity: 0.9;

    position: fixed;
    /* position: static; */

    top: 0;
    right: 0px;
    width: 100%;

}

/*
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  font-family: 'RocknRoll One', sans-serif;
}
*/

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color:#432;
}

.main-nav a:hover {
  color: #0bd;
}

.page-header {
   display: flex;
   justify-content: space-between;
}


.wrapper {
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 0 4%;
}


/* HOME */
.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rm;
  margin: 10px 0 42px;
}

/* 見出し */
.page-title {
  /* font-size: 5rem; */
  font-size: 2rem;
  /*font-family: */
  /* text-transform: uppercase; */
  font-family: 'RocknRoll One', sans-serif;
  font-weight: normal;
}

.page-title2 {
  /* font-size: 5rem; */
  font-size: 3rem;
  /*font-family: */
  /* text-transform: uppercase; */
  font-family: 'RocknRoll One', sans-serif;
  font-weight: normal;
}


.page-msg{
  font-family: 'RocknRoll One', sans-serif;
  font-weight: normal;
}

hr {
  width: 50%;
  margin: 0 auto;
}
/* ボタン */
.button {
  font-size: 1.375rem;
  background: #0db;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}

img.pfimage {
/* width: 400px; */
/* height: 400px; */
  width: 100%;
  height: auto;
}

/* タイルレイアウト */
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.gridsp {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

/* メニュー */
.is-open_w {
  display: none;
}
.is-open_l {
  display: none;
}


/* キャプションの処理 */
.is-open_1 {
  display: none;
}

.is-open_2 {
  display: none;
}

.is-open_3 {
  display: none;
}

.is-open_4 {
  display: none;
}

.is-open_5 {
  display: none;
}

.is-open_6 {
  display: none;
}

.is-open_7 {
  display: none;
}

.is-open_8 {
  display: none;
}

.is-open_9 {
  display: none;
}


/* フッターの処理 */
footer {
    background:#eee;
    height: 200px;
}

.inner{
  text-align: center;
}

.item ul {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    font-family: 'RocknRoll One', sans-serif;
}

.item li {
    padding:0px 20px;
    /* border-right: 1px solid #000; */
    list-style: none;
}

.foot-nav a {
  color:#432;
}

.foot-nav a:hover {
  color: #0bd;
}

.nav-links{
  padding:2em;
  display:flex;
  justify-content:center;
  background:#eee;
}


.nav-links a,span {
  width:50px;
  height:50px;
  margin:2px;
  line-height:50px;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  background:#fff;
  color:#222;
  transition:.3s;
}

.nav-links a:hover{
  background:gold;
  border-radius:100%;
  transform:rotate(360deg);
}

.main-nav a:hover{
  background:gold;
  border-radius:100%;
  transform:rotate(360deg);
}

.trmenu_w:hover{
  background:gold;
  border-radius:100%;
  transform:rotate(360deg);
}

.trmenu_l:hover{
  background:gold;
  border-radius:100%;
  transform:rotate(360deg);
}

.current{
  background:silver;
  border-radius:100%;
}
.dots{
  background:none;
}


/* レスポンシブ */
@media (min-width: 600px) {

  .main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    font-family: 'RocknRoll One', sans-serif;
  }

  /* 画像マウスホバー処理 */
  .image_mouseover_1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  }
  .image_mouseover_1 img {
  display: block;
  transition-duration: 0.5s;
  }
  .image_mouseover_1 img:hover {
  transform: scale(1.2,1.2);
  transition-duration: 0.5s;
  }

}

/*
#global-navi {
    background:#333;
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;

}
#mwrapper nav ul li{
display:inline-block;
font-size: 16px;
padding:  30px 20px 25px 28px;
}
#mwrapper nav ul li a{
color: #ddd
}
*/
/*スマホ画面でハンバーガーメニューの形にする*/
@media screen and (max-width: 600px) {

  .main-nav {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    font-family: 'RocknRoll One', sans-serif;
  }

#mwrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background:#eee;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
}
#mwrapper nav ul li {
    display:block;
    padding: 20px 28px
}

#mwrapper nav ul li a {
    text-decoration: none;
    color: #666
}

#mwrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#mwrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#mwrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

#mwrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

#mwrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

#mwrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#mwrapper .btn-gnavi.open span {
    background: #666
}

#mwrapper .btn-gnavi.open span {
    width: 24px;
}
#mwrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666
}

#mwrapper .contents section:nth-child(odd) p {
    left: 10%
}

#mwrapper .contents section:nth-child(even) p {
    right: 10%
}
}

.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
}
.content p{
    margin-bottom: 40px;
}

/* フロートボタン */
.fixed_btn
{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 6px 40px;
}

.big-box {
  grid-column: 1 / 3;
  
}
